<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <style>
        body {
            background-color: #f2f2f2;
            text-align: center;
            padding: 50px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .container {
            width: 300px;
            margin: 0 auto;
        }

        h1 {
            color: #888;
            font-size: 40px;
        }

        p {
            color: #888;
        }
    </style>
</head>
<body>
	<div th:include="header.html"></div>
    <div class="container">
        <h1>404</h1>
        <p>Page not found!</p>
    </div>
</body>
</html>